body{
    font-family: 'Montserrat', sans-serif;
    margin: 2%;
}

a {
    text-decoration: none;
    color: black;
}

.header{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px solid black;
  float: left;
  margin-bottom: 10px;
  width: 80%;
 
}

.box{
   
    border: 1px solid black;
    margin-bottom: 20px;
    text-align: center;
    width: 180px;
    
}
.right{
    margin-left: 80%;
    border-left: 2px solid black;
   
}
.infa{
    margin-bottom: 60px;
margin-left: 10%;
}



.work{
    float: left;
    width: 80%;
    border-right: 2px solid black;
 
}
.work-item{
   margin-bottom: 60px;
}

.bold-text{
     font-weight: 1000;
}
@media (max-width: 1000px) {
    .header{
        width: 70%;
    }
    .right{
       
        margin-left: 70%;
    }
    .work{
        width: 70%;
    }
}

.box:hover {
    background-color: #ddd;
    cursor: pointer;
}


@media (max-width: 700px) {
    .header{

        float: none;
        width: 100%;
    }
    
      .work{
        
          float: none;
          width: 100%;
          border-bottom: 2px solid black;
          border-right: none;
          margin-bottom: 40px;
          
      }
      .right{
          width: 100%;
          margin-left: 0%;
          border-left: none;
          
      }
     body{
         margin-left: 5%;
     }
     .infa{
         margin-left: 0%;
     }
}